.header {
    background-image: url(../../images/header_1.png), url(../../images/header_2.png);
    background-repeat: no-repeat, repeat;
    min-height: 800px;
}

.header a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.header a p {
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
}

.header section {
    padding-top: 20px;
}